<configuration packagingData="true">

    <springProfile name="production">
    	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <Append>true</Append>
            <File>logs/budget-manager.log</File>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/%d{yyyy-MM-dd}/budget-manager.log.%i</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>90</maxHistory>
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>
        </appender>
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <Target>System.out</Target>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m%n</pattern>
            </encoder>
        </appender>
        <logger name="com.github.nesterovilya.budgetmanager" level="INFO"/>
        <root level="WARN">
        	<appender-ref ref="file"/>
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

    <springProfile name="development,system-test,integration-test,unit-test">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <Append>true</Append>
            <File>logs/budget-manager.log</File>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/%d{.yyyy-MM-dd}/budget-manager.log.%i</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>90</maxHistory>
                <totalSizeCap>50GB</totalSizeCap>
            </rollingPolicy>
        </appender>
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <Target>System.out</Target>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m%n</pattern>
            </encoder>
        </appender>
        <logger name="com.github.nesterovilya.budgetmanager" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="file"/>
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

</configuration>